export(atributeDiscretizeEF,datasetDiscretizeEF,atributeDiscretizeEW,datasetDiscretizeEW,variance,
       auc, datasetEntropy, entropy,variableNormalization, variableEstandarization,datasetNormalization,
       datasetEstandarization,filterDataset,atributesCorrelation,plotAUC,atributesMutualInformation,datasetReadRetyping,writeDatasetCSV)
